html *
{
   font-family: 'Roboto', sans-serif !important;
   /* font-family: 'Quicksand', sans-serif !important; */
}

.margins {
  margin-top: 30px;
  margin-bottom: 30px;
  /* margin-right: 0px; */
  /* margin-left: 80px; */
}

.center {
  display: flex;
  justify-content: center;
  align-items:center;
  font-family:roboto;
}
